body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-size: 16px;
  font-family: 'Poiret One', cursive;
}

body {
  font-family: 'Poiret One', cursive;
  margin: 0 0.5em;
  font-size: 16px;
}

div {
  padding: 0.1em;
}

.clear-fix {
  overflow: auto;
}

.education-entry:not(:first-of-type):not(:last-of-type),
.work-entry:not(:first-of-type):not(:last-of-type),
.project-entry:not(:first-of-type):not(:last-of-type) {
  height: 1.5em;
  border-bottom: solid 1px lightgray;
}

.education-entry,
.work-entry,
.project-entry, {
  padding: 0.1em;
}

h1 {
  font-size: 40px;
  color: #92b9b9;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 2em;
  color: black;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 1.8em;
  color: #92b9b9;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #92b9b9;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

#projects {
  background-color: #e0ebeb;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #66d9ff;
  line-height: 28px;
}

#skills-h3 {
  color: #e0ebeb;
  display: none;
}

.orange {
  background-color: #e0ebeb;
}

.orange-text {
  color: #e0ebeb;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #e0ebeb;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #e0ebeb;
}

#header {
  background-color: #484848;
}

.header-scroll {
  width: auto;
  height: 50px;
  margin: 0;
  opacity: 0.2;
  position: fixed;
  right: 10px;
  left: 10px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
}

img {
  padding: 10px;
  width: 40%;
  max-height: 268px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
